<!DOCTYPE HTML
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">

    <title>Exam Portal</title>

    <style type="text/css">
        table,
        td {
            color: #000000;
        }

        a {
            color: #161a39;
            text-decoration: underline;
        }

        @media only screen and (min-width: 620px) {
            .u-row {
                width: 600px !important;
            }

            .u-row .u-col {
                vertical-align: top;
            }

            .u-row .u-col-50 {
                width: 300px !important;
            }

            .u-row .u-col-100 {
                width: 600px !important;
            }

        }

        @media (max-width: 620px) {
            .u-row-container {
                max-width: 100% !important;
                padding-left: 0px !important;
                padding-right: 0px !important;
            }

            .u-row .u-col {
                min-width: 320px !important;
                max-width: 100% !important;
                display: block !important;
            }

            .u-row {
                width: calc(100% - 40px) !important;
            }

            .u-col {
                width: 100% !important;
            }

            .u-col > div {
                margin: 0 auto;
            }
        }

        body {
            margin: 0;
            padding: 0;
        }

        table,
        tr,
        td {
            vertical-align: top;
            border-collapse: collapse;
        }

        p {
            margin: 0;
        }

        .ie-container table,
        .mso-container table {
            table-layout: fixed;
        }

        * {
            line-height: inherit;
        }

        a[x-apple-data-detectors='true'] {
            color: inherit !important;
            text-decoration: none !important;
        }
    </style>


    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet" type="text/css">


</head>

<body class="clean-body u_body"
      style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #f9f9f9;color: #000000">

<table
        style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #f9f9f9;width:100%"
        cellpadding="0" cellspacing="0">
    <tbody>
    <tr style="vertical-align: top">
        <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">

            <div class="u-row-container" style="padding: 0px;background-color: #f9f9f9">
                <div class="u-row"
                     style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #f9f9f9;">
                    <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                        <div class="u-col u-col-100"
                             style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
                            <div style="width: 100% !important;">
                                <!--[if (!mso)&(!IE)]><!-->
                                <div
                                        style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                                    <!--<![endif]-->

                                    <table style="font-family:'Lato',sans-serif;" role="presentation" cellpadding="0"
                                           cellspacing="0"
                                           width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td
                                                    style="overflow-wrap:break-word;word-break:break-word;padding:15px;font-family:'Lato',sans-serif;"
                                                    align="left">

                                                <table height="0px" align="center" border="0" cellpadding="0"
                                                       cellspacing="0" width="100%"
                                                       style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #f9f9f9;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                                                    <tbody>
                                                    <tr style="vertical-align: top">
                                                        <td
                                                                style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                                                            <span>&#160;</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- First Portion Of Design Logo Image -->
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
                <div class="u-row"
                     style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                    <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                        <div class="u-col u-col-100"
                             style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
                            <div style="width: 100% !important;">

                                <div
                                        style="padding: 0px;border-top: 1px solid #000000;border-left: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">


                                    <table style="font-family:'Lato',sans-serif;" role="presentation" cellpadding="0"
                                           cellspacing="0"
                                           width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td
                                                    style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Lato',sans-serif;"
                                                    align="left">

                                                <div style="line-height: 140%; text-align: center; word-wrap: break-word;">
                                                    <p style="font-size: 14px; line-height: 140%; text-align: center;"><span
                                                                style="font-size: 48px; line-height: 67.2px; font-family: 'Pacifico', cursive;"><span
                                                                    style="color: #3598db; font-size: 48px; line-height: 67.2px;">Exam</span> <span
                                                                    style="color: #34495e; font-size: 48px; line-height: 67.2px;">Portal</span></span>
                                                    </p>
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Second Portion Of Design -->
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
                <div class="u-row"
                     style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #161a39;">
                    <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                        <div class="u-col u-col-100"
                             style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
                            <div style="width: 100% !important;">

                                <div
                                        style="padding: 0px;border-top: 1px solid #000000;border-left: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">


                                    <table style="font-family:'Lato',sans-serif;" role="presentation" cellpadding="0"
                                           cellspacing="0"
                                           width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td
                                                    style="overflow-wrap:break-word;word-break:break-word;padding:0px 10px 4px;font-family:'Lato',sans-serif;"
                                                    align="left">

                                                <div style="line-height: 140%; text-align: left; word-wrap: break-word;">
                                                    <p style="font-size: 14px; line-height: 140%; text-align: center;"><span
                                                                style="font-size: 26px; line-height: 36.4px; color: #ffffff; font-family: Lato, sans-serif;"><span
                                                                    style="font-family: 'Pacifico', cursive; line-height: 36.4px; font-size: 26px;">Quiz
                                      Exam Result</span></span></p>
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--[if (!mso)&(!IE)]><!-->
                                </div>
                                <!--<![endif]-->
                            </div>
                        </div>
                        <!--[if (mso)|(IE)]></td><![endif]-->
                        <!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
                    </div>
                </div>
            </div>


            <!-- Third Portion of Design Email Body -->
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
                <div class="u-row"
                     style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                    <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                        <div class="u-col u-col-100"
                             style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
                            <div style="width: 100% !important;">

                                <div
                                        style="padding: 0px;border-top: 1px solid #000000;border-left: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">


                                    <table style="font-family:'Lato',sans-serif;" role="presentation" cellpadding="0"
                                           cellspacing="0"
                                           width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td
                                                    style="overflow-wrap:break-word;word-break:break-word;padding:40px 40px 30px;font-family:'Lato',sans-serif;"
                                                    align="left">

                                                <div style="color: #236fa1; line-height: 140%; text-align: left; word-wrap: break-word;">
                                                    <p style="font-size: 14px; line-height: 140%;"><strong><span
                                                                    style="font-size: 18px; line-height: 25.2px; color: #666666;">Hello,</span></strong>
                                                    </p>
                                                    <p style="font-size: 14px; line-height: 140%;"><strong>Dear
                                                            Participant. Here is Your
                                                            Quiz Result . . . .</strong></p>
                                                    <p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
                                                    <p style="font-size: 14px; line-height: 140%;"><span
                                                                style="font-size: 14px; line-height: 19.6px;"><strong>Quiz Title :
                                      ${quizTitle}</strong></span>
                                                    </p>
                                                    <p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
                                                    <p style="font-size: 14px; line-height: 140%;"><span style="font-size: 14px; line-height: 19.6px;"><strong>Correct Answers : ${totalCorrectAnswer}</strong></span></p>
                                                    <p style="font-size: 14px; line-height: 140%;"><span style="font-size: 14px; line-height: 19.6px;"><strong>Wrong Answers : ${totalWrongAnswer}</strong></span></p>
                                                    <p style="font-size: 14px; line-height: 140%;"><span style="font-size: 14px; line-height: 19.6px;"><strong>Total Marks : ${marks} Out Of ${maxMarks}</strong></span></p>

                                                    <p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
                                                    <p style="font-size: 14px; line-height: 140%;"><span
                                                                style="font-size: 18px; line-height: 25.2px; color: #666666;">Thank You For
                                    Participating in Exam Portal <br/></span></p>
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Fourth Portion of Design Contact -->
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
                <div class="u-row"
                     style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #18163a;">
                    <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                        <div class="u-col u-col-50"
                             style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                            <div style="width: 100% !important;">

                                <div
                                        style="padding: 20px 20px 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">


                                    <table style="font-family:'Lato',sans-serif;" role="presentation" cellpadding="0"
                                           cellspacing="0"
                                           width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td
                                                    style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Lato',sans-serif;"
                                                    align="left">

                                                <div style="line-height: 140%; text-align: left; word-wrap: break-word;">
                                                    <p style="font-size: 14px; line-height: 140%; text-align: left;"><span
                                                                style="font-family: 'Lobster Two', cursive; font-size: 14px; line-height: 19.6px;"><strong><span
                                                                        style="font-size: 16px; line-height: 22.4px; color: #ecf0f1;">Contact</span></strong></span>
                                                    </p>
                                                    <p style="font-size: 14px; line-height: 140%; text-align: left;"><span
                                                                style="font-size: 14px; line-height: 19.6px; color: #ecf0f1; font-family: 'Lobster Two', cursive;"><span
                                                                    style="font-family: 'Lato', sans-serif; font-size: 14px; line-height: 19.6px;"><strong>tajbirnuva@gmail.com</strong></span><br/></span>
                                                    </p>
                                                    <p style="font-size: 14px; line-height: 140%; text-align: left;">
                                                        <strong><span
                                                                    style="font-size: 14px; line-height: 19.6px; color: #ecf0f1;"><span
                                                                        style="font-family: 'Lobster Two', cursive; font-size: 14px; line-height: 19.6px;">+88
                                        01850179564</span><br/></span></strong></p>
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>
                        <div class="u-col u-col-50"
                             style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                            <div
                                    style="width: 100% !important;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">

                                <div
                                        style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px;">


                                    <table style="font-family:'Lato',sans-serif;" role="presentation" cellpadding="0"
                                           cellspacing="0"
                                           width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td
                                                    style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Lato',sans-serif;"
                                                    align="left">

                                                <div style="line-height: 140%; text-align: left; word-wrap: break-word;">
                                                    <p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
                                                    <p style="font-size: 14px; line-height: 140%;">&nbsp;</p>
                                                    <p style="font-size: 14px; line-height: 140%;"><span
                                                                style="color: #ecf0f1; font-size: 18px; line-height: 25.2px;"><span
                                                                    style="font-size: 16px; line-height: 22.4px;"><span
                                                                        style="font-family: 'Lobster Two', cursive; line-height: 22.4px; font-size: 16px;"><strong>Exam
                                          Portal </strong></span>&copy; &nbsp;</span><em><span
                                                                        style="font-family: 'trebuchet ms', geneva; line-height: 22.4px; font-size: 16px;">All
                                        Rights Reserved</span></em></span></p>
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="u-row-container" style="padding: 0px;background-color: #f9f9f9">
                <div class="u-row"
                     style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #1c103b;">
                    <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                        <div class="u-col u-col-100"
                             style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
                            <div style="width: 100% !important;">

                                <div
                                        style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">


                                    <table style="font-family:'Lato',sans-serif;" role="presentation" cellpadding="0"
                                           cellspacing="0"
                                           width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td
                                                    style="overflow-wrap:break-word;word-break:break-word;padding:15px;font-family:'Lato',sans-serif;"
                                                    align="left">

                                                <table height="0px" align="center" border="0" cellpadding="0"
                                                       cellspacing="0" width="100%"
                                                       style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #1c103b;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                                                    <tbody>
                                                    <tr style="vertical-align: top">
                                                        <td
                                                                style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                                                            <span>&#160;</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--[if (!mso)&(!IE)]><!-->
                                </div>
                                <!--<![endif]-->
                            </div>
                        </div>
                        <!--[if (mso)|(IE)]></td><![endif]-->
                        <!--[if (mso)|(IE)]></tr></table></td></tr></table><![endif]-->
                    </div>
                </div>
            </div>


            <!-- Last Portion Of Design Logo Image -->
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
                <div class="u-row"
                     style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                    <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                        <div class="u-col u-col-100"
                             style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
                            <div style="width: 100% !important;">

                                <div
                                        style="padding: 0px;border-top: 1px solid #000000;border-left: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">


                                    <table style="font-family:'Lato',sans-serif;" role="presentation" cellpadding="0"
                                           cellspacing="0"
                                           width="100%" border="0">
                                        <tbody>
                                        <tr>
                                            <td
                                                    style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Lato',sans-serif;"
                                                    align="left">

                                                <div style="line-height: 140%; text-align: center; word-wrap: break-word;">
                                                    <p style="font-size: 14px; line-height: 140%; text-align: center;"><span
                                                                style="font-size: 48px; line-height: 67.2px; font-family: 'Pacifico', cursive;"><span
                                                                    style="color: #3598db; font-size: 48px; line-height: 67.2px;">Exam</span> <span
                                                                    style="color: #34495e; font-size: 48px; line-height: 67.2px;">Portal</span></span>
                                                    </p>
                                                </div>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </td>
    </tr>
    </tbody>
</table>

</body>

</html>